
<h4> Home Page</h4>
Welcome to HomeSpace!!! <br/><br/>  <br/><br/>    <br/>

<p>HomeSpace is designed keeping in mind, our needs as a family. This site will be available to all members of the family.</p>

<p>Most of us tend to be forgetful; having a <h9>To-do list</h9> comes handy.     </p>    <br/>

<p>There is a lot of stuff that needs to be built on this website.

  <p>We love photographs and since our family is back home in India, <h9>Albums</h9> are a very good way to connect them with
the stuff we do </p>   One major part would be <h9>Travel Plans</h9>.
We love to travel and keep reading a lot of stuff on travel. However, most of the times, when we are travelling,
the stuff we read is not easy to find (e.g suggestions from friends to visit particular places, restaurants.)
This website will act like a repository where we can simply add in links of all the pages we like.
</p>
