body {
  background-color: #778899;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background: url('/images/sunset.jpg') no-repeat center center fixed;
  background-attachment: scroll;
}
/*
a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
    */
#container {

  width: 75%;
  height:  0%;
  margin: 0 auto;
  background-color: graytext;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;

  font-size: 12px;
}



.complete_button {
    display: inline;
    position: relative;
    top:-20px;
    left:250px;
    width: 70px;
    background: #f5deb3
}
.delete_button {
    display: inline;
    position: relative;
    top:-45px;
    left: 350px;
    width: 70px;
    background: #f5deb3


}

.delete_button_completed {
    display: inline;
    position: relative;
    top:-25px;
    left: 250px;
    width: 70px;
    background: #f5deb3
}

 #create_task {
  width: 35%;

  border: 3px solid #ccc;
  background-color: #FFF;
  position: relative;
  top: -400px;
  right: -600px;
}

#search_and_list_links {

}